/*
 *  Footer
 */

footer {
	margin-bottom: 4em;

	.row {
		.columns {
			font-size: 0.75em;
			text-align: justify;

			&.padleft {
				padding-left: 2.25em;
			}

			s {
			    text-decoration: none;
			    margin-left: -1.25em;
			    margin-right: 0.25em;
			    display: inline-block;
			    width: 1em;
			    text-align: center;
			}
		}
	}
}



