/*
 *  Mixins
 */

@mixin opacity($alpha) {
	@if $alpha == 1 {
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(enabled = false)";
		filter: none;
	} @else {
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=$alpha*100)";
		filter: alpha(opacity=$alpha*100);
	}

	-webkit-opacity: $alpha;
	-moz-opacity: $alpha;
	-khtml-opacity: $alpha;
	opacity: $alpha;
}




