// Base
$row-width: 1280px; // Essentially the max-width of the site

// Fonts
$font-family-sans-serif: "Open Sans", "Trebuchet MS", Arial, sans-serif;
$font-family-serif: Cambria, Georgia, serif;

// Colors
$primary-color: #303D4E; // CBL dark blue/navy
$secondary-color: #f2f2f2;  // Light gray
$alert-color: #BD102C; // Dark red
$success-color: #43AC6A;
$warning-color: #f08a24;
$info-color: #0082d8; // Medium blue
$cbl-orange: #FF9901;

// Font colors and styles
$form-label-font-color: $primary-color;
$form-label-font-size: 0.75em;	

// Misc
$global-radius: 0; // Turning off rounded corners
$header-height-large: 70px;
$header-height-medium: 50px;
$header-height-small: 50px;
