/*
 *  Main CSS
 */

@import 'settings';
@import 'vendor/foundation/scss/normalize.scss';
@import 'vendor/foundation/scss/foundation.scss';
@import 'mixins';
@import 'fonts';
@import 'header';
@import 'footer';


/*
 *  Main layout styles
 */

body {
	background-color: $secondary-color;
	margin: 0;
}

a {
	text-decoration: underline;
	color: lighten($primary-color, 20%);
}

h1, h2, h3 {
	font-weight: bold;

	a { text-decoration: none; }
}

h1 { font-size: 2em; line-height: 1.15em; }
h2 { font-size: 1.45em; line-height: 1.15em; }
h3 { font-size: 1.15em; }

@media #{$small-only} {
	h1 { font-size: 1.66em; }
	h2 { font-size: 1.20em; }
	h3 { font-size: 1.05em; }
}

.buffer {
	padding: 10px 0;
	&.huge { padding: 80px 0; }
}

.post-meta {
	margin: -0.7em 0 1em;
    font-size: 0.85em;
    color: lighten($primary-color, 20%);
}

.category-link {
	position: absolute;
	top: 0;
	right: 17px;
    background-color: #e87f00;
    color: #FFF;
    display: inline-block;
    padding: 0.25em 1em;
    border-radius: 0 0 0 6px;
    font-size: 0.65em;
    text-transform: uppercase;
    box-shadow: 0 2px 1px rgba(0, 0, 0, .35);
}

.featured-article-small,
.featured-article-large {
	clear: both;
	float: none;
	display: block;
	background-color: #999;
	background-size: 120% auto;
	background-position: center center;
	background-repeat: no-repeat;
	border: 2px #e87f00 solid;
	padding: 1em;
	overflow: hidden;
	margin: 0 0 24px;
	text-decoration: none;
	position: relative;

	h5, p {
		color: #FFF;
		text-decoration: none;
		position: relative;
		transition: all 100ms linear;
	}

	h5 {
		font-weight: bold;
		font-size: 1.25em;
		padding-top: 0.5em;
	}

	p {
		font-size: 1em;
	}
}

.featured-article-large {
	height: 260px;
	font-size: 16px;

	.table-wrap {
		height: 98%;
		width: 100%;
		margin-top: 2%;
		display: table;
	}

	.table-wrap-inner {
		height: 100%;
		width: 100%;
		display: table-cell;
		vertical-align: bottom;
	}

	h5, p {
		color: $primary-color;
	}
}

.featured-article-small {
	height: 140px;
	font-size: 11px;

	.overlay {
		background: #303D4E;
		opacity: 0.75;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		transition: all 100ms linear;
	}

	.table-wrap {
		height: 96%;
		width: 100%;
		margin-top: 4%;
		display: table;
	}

	.table-wrap-inner {
		height: 100%;
		width: 100%;
		display: table-cell;
		vertical-align: middle;
	}

	h5, p {
		text-align: center;
		text-shadow: 0 0 3px #000;
	}

	p {
		height: 0;
		overflow: hidden;
		transition: height 200ms linear;
	}

	&:hover {
		.overlay {
			opacity: 0.85;
			background: #FFF;
		}

		p {
			height: 6em;
		}

		h5, p {
			color: $primary-color;
			text-shadow: 0 0 3px #FFF;
		}
	}
}

.featured-image {
	max-width: 382px;
	float: right;
	margin: 0 0 2em 2em;
	border: 1px $primary-color solid;
}

.archive-image {
	max-width: 100%;
	width: 100%;
	margin: 0.6em auto 0;
	border: 1px $primary-color solid;
}

.side-nav {
	padding: 0;
	margin: 0 0 2em;

	li {
		padding: 0;
		margin: 0;

		a, a:not(.button) {
			color: lighten($primary-color, 20%);
			font-weight: normal;
	    	text-decoration: none;
	    	padding: 0.25em 0.5em;

	    	&:hover {
	    		background-color: $primary-color;
	    		color: #FFF;
	    	}
	    }

	    &.active {
	    	a,a:first-child:not(.button) {
	    		color: $primary-color;
	    		font-weight: bold;

	    		&:hover { color: #FFF; }
	    	}
	    }
	}
}

.sidebar-mobile {
	margin: 0 0 1.5em;

	h3 {
		padding: 0.75em 0 0;
		line-height: 1.5em;
		clear: both;
		margin: 0;
		font-size: 1em;
	}
    
    .side-nav li {
	    float: left;
	    display: block;
	    width: 33.3333%;

	    a {
			font-size: 0.8em;
			padding: 0.25em 0.25em;
			margin-right: 0.5em;
			margin-left: -0.25em;
		}
	}
}

.main-content {
	@media #{$small-only} {
		h1, h2, .post-meta {
			text-align: center;
		}

		.post-meta {
			margin: 0 0 1em;
		}

		.featured-image {
			display: block;
			float: none;
			clear: both;
			margin: 0 auto 1em;
			max-width: 100%;
		}
	}
}






